.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3.33em;
    box-shadow: 0 4px 4px 0 #00000040;
    padding: 0.22em 0.22em;
    border-radius: 0.44em;
}
.operationButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E2E3E5;
    border-radius: 0.33em;
    width: 2.88em;
    cursor: pointer;
}