.container {
    height: 3.33em;
    box-shadow: 0 4px 4px 0 #00000040;
    padding: 0.22em 0.22em;
    border-radius: 0.44em;
}
.displayInput {
    background: #F3F4F6;
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0.22em 0.44em 0.22em 0.44em;
    font-size: 1.33em;
    font-weight: 600;
}